<label for="nombreProducto">Nombre del producto:</label>
<input type="text" id="nombreProducto" [(ngModel)]="producto.nombre" name="nombreProducto" required>

<label for="precio">Precio:</label>
<input type="number" id="precio" [(ngModel)]="producto.precio" name="precio" required min="1">

<label for="stock">Stock:</label>
<input type="number" id="stock" [(ngModel)]="producto.stock" name="stock" required min="1">

<button (click)="alIngresar()">INGRESAR</button>

<div *ngIf="registroExitoso">
  Producto dado de alta
</div>

  